/* global area */
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #F3F1FF;
}
header{
    width: 100%;
    height: auto;
    background-color: #2D25A0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;    
}
section{
    width: 100%;
    height: auto;
}
/* header area */
.header-area{
    display: flex;
    justify-content: center;
}
.head-info h1{
    color: #FFFFFF;
    margin-right: 60px;
    margin-top: 70px;
    width: 485px;
    font-size: 64px;
    font-weight: bold;
}
.head-info button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
}
.head-info button a{
    text-decoration: none;
    color: #FFFFFF;
}
.head-info button{
    background-color: #E02C6D;
    opacity: 0.7;
    transition: 0.2s;
}
.head-info button:hover{
    opacity: 1;
}
.head-info .fa-arrow-right{
    color: #FFFFFF;
    padding-left: 6px;
}
.head-image img{
    margin-top: 30px;
    width: 556px;
    height: 438px;
}
/* main-area */
.main-container{
    width: 1000px;
    height: 1015px;
    background-color: #FFFFFF;
    padding-top: 10px;
    box-shadow: 0px 0px 40px rgba(0, 2, 2, 0.15);
}
.card-album{
    align-items: center;
    justify-content: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    justify-content: center;
}
.card{
    box-shadow: 3px 20px 30px gray;
    padding-left: 7px;
    border-radius: 15px;
}
.thumbnail img{
    width: 300px;
    height: 246px;
}
.card-info h3{
    font-size: 20px;
    font-weight: 700;
}
/* extra-section */
.extra-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    background-color: gray;
}
.extra-sec{
    padding: 10px 30px;
}
.extra-sec-pic img{
    width: 300px;
    height: 246px;
}
.extra-info h2{
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
}
section h1{
    text-align: center;
    margin-top: 70px;
}
/* footer area */
.footer-section{
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.footer-top img{
    width: 90%;
    align-items: center;
}
.social-icons{
    font-size: 35px;
    color: #969BAB;
    background-color: #E7E7E8;
    margin-bottom: 40px;
}
.filled{
    margin: 0px 14px;
}
.social-icons h2{
    font-size: 35px;
    font-weight: 700;
}

/* -------------Media Query 
----------------------------------*/
/* Modile device */
@media only screen and (max-width:480px){
    head{
        width: 100%;
    }
    .header-area{
        display: flex;
        flex-direction: column;
    }
    .head-image img{
        width: 100%;
    }
    .main-container{
        width: 100%;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .extra-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
